
.searchbar input{
  height: 35px;
  width: 550px;
  border:steelblue solid;
  border-width: 2px;
  border-radius: 12px 12px 12px 12px;
  padding: 2px 2px 2px 5px;  
  text-align: center;
  background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 18px;   
  font-size: 18px;
  margin-bottom: 50px;
}

.searchbar{
  position: fixed;
  left: 25%;
}

.searchbar input:focus::placeholder{
  color: transparent;
}

#header-bottom{
  margin-bottom: 150px;
}

hr{
  border: 0;
  margin-top: 10px;
}

.arrow-bar{
  height: 40px;
  width: 50px;
  margin-bottom: -15px;
  margin-right: 40px;
}

.search-artist-song{
  display: block;
  background-color: rgb(4, 4, 27);
  text-size-adjust: 20px;
  text-align: justify;
  color: white;
  border-radius: 20px 20px 20px 20px;
  margin: 10px 20px 0px 20px;
  padding-left: 40px;
  padding-top: 20px;
}

.thumbnails{
  position: absolute;
  margin-top: -60px;
  margin-left: 150px;
}

.arrow-bar:hover{
  background-color: orange;
}

.thumbnails:hover{
  color: orange;
  cursor: pointer;
}


.playerBox{
  position: fixed;
  background-color: black;
  margin-left: 20px;
  width: 97%;
  margin-top: 300px;
  border-radius: 20px 20px 20px 20px;
  padding-top: 20px;
}