body {
  background-color: #14213d;
}

.navBar {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 0px;
  background-color: black;
}

.navImage:hover {
  display: flex;
}
.playerBox {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 20px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.8em;
  max-width: 100%;
  position: fixed;
  bottom: 8vh;
}
.playerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.playerButtons img {
  width: 10%;
}

.imgButton {
  padding: 0;
  background: none;
  border-style: none;
}

.startPageSearchBar input,
.searchBar input {
  width: 100vw;
  height: 5vh;
  border-style: none;
  border-radius: 12px 12px 12px 12px;
  padding: 2px 2px 2px 5px;
  text-align: center;
  background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 3vh;
  font-size: 100%;
}

.searchBar {
  display: flex;
  margin: 5vh 0 3vh 0;
  padding: 0 5vw 0 5vw;
}

.startPageSearchBar {
  text-align: center;
}

.searchBar input:focus::placeholder {
  color: transparent;
}

.artistOrSongBox {
  display: flex;
  justify-content: space-between;
  background-color: rgb(4, 4, 27, 0.6);
  border-radius: 20px;
  padding: 1vh 1vw;
  margin: 1%;
  color: white;
}
.artistOrSongBox button {
  margin-right: 3vw;
}
.artistOrSongResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5vw;
  margin-left: 1vw;
}

.artistOrSongResult p {
  display: inline-block;
  width: 100%;
  margin: 0.7vh;
}

.thumbnails {
  border-radius: 10px;
  height: 60px;
}
.songArtistName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.songName:hover {
  color: orange;
}

.title {
  text-align: center;
  color: orange;
  font-size: 300%;
  margin-top: 5vh;
}

.userTitle {
  text-align: center;
  color: orange;
  font-size: 150%;
  margin-top: 10vh;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1vh;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -2000px 0 0 2000px orange;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.name {
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 300%;
  margin: 0;
}

.picture img {
  width: 100%;
}

.description {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(4, 4, 27, 0.5);
  border-radius: 20px;
  margin: 2vh;
  padding: 2vh;
  line-height: 130%;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-around;
}

.pic {
  width: 45%;
  padding-bottom: 5%;
}

.showButton {
  display: flex;
  align-items: flex-end;
}
.songBox {
  display: flex;
  flex-direction: row;
  padding: 2vh;
}
.back {
  background: none;
  border: none;
}
.artistButtons {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw 0 0;
}

.scrollDown {
  margin-bottom: 20vh;
}

.smallTitle {
  text-align: center;
  color: orange;
  font-size: 150%;
}
.albumPlaylistPic {
  width: 40%;
}
