body {
  background-color: #14213d;
}

.navBar {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 0px;
  background-color: black;
}

.navImage:hover {
  display: flex;
}
.playerBox {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 20px;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  max-width: 100%;
  position: fixed;
  bottom: 9vh;
}
.playerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.playerButtons img {
  width: 10%;
}
.playPanel {
  width: 100%;
  background-color: black;
  position: fixed;
  margin-top: 400px;
  border-radius: 20px 20px 20px 20px;
}

.panel {
  display: flex;
  justify-content: center;
}

.panelButton {
  margin-left: 150px;
  margin-bottom: 25px;
}

.panelButton:hover {
  cursor: pointer;
  opacity: 0.6;
}

.shareButton {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

.startPageSearchBar input,
.searchBar input {
  width: 100vw;
  height: 5vh;
  border-style: none;
  border-radius: 12px 12px 12px 12px;
  padding: 2px 2px 2px 5px;
  text-align: center;
  background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 3vh;
  font-size: 100%;
}

.searchBar {
  display: flex;
  margin: 5vh 0 3vh 0;
  padding: 0 5vw 0 5vw;
}

.startPageSearchBar {
  text-align: center;
}

.searchBar input:focus::placeholder {
  color: transparent;
}

.backArrow {
  height: 40px;
  width: 50px;
  margin-bottom: -15px;
  margin-right: 40px;
}

.artistOrSongBox {
  display: flex;
  background-color: rgb(4, 4, 27);
  border-radius: 20px;
  padding: 1vh 1vw;
  margin: 1%;
  color: white;
}
.artistOrSongResult {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5vw;
  margin-left: 1vw;
}

.artistOrSongResult p {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.thumbnails {
  border-radius: 10px;
  height: 80px;
}
.artistName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.songName {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.songName:hover {
  color: orange;
}

.title {
  text-align: center;
  color: orange;
  font-size: 300%;
  margin-top: 10vh;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -2000px 0 0 2000px orange;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.name {
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 300%;
}

.picture {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(4, 4, 27, 0.5);
  border-radius: 20px;
  margin: 2vh;
  padding: 2vh;
  line-height: 130%;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-around;
}

.pic {
  width: 45%;
  padding-bottom: 5%;
}

.showButton {
  display: flex;
  align-items: flex-end;
}
.songBox {
  display: flex;
  flex-direction: row;
  padding: 2vh;
}
